* {
    font-family: 'Inter', sans-serif;
}

body {
    width: 85vw;
    margin: auto;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    height: 17vh;
}

h3 {
    width: 70%;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

nav {
    width: 30%;
    display: flex;
}

h4 {
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #8782F6;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:visited:hover {
    color:#8782F6;
    text-decoration: none;
}

.fullpage {
    display: flex;
    width: 100%;
}

.intro {
    width: 28vw;
    
}

h1 {
    font-size: 55px;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

p {
    font-size: 20px;
    width: 82%;
}

.linkoverlay {
    width: 57vw;
    display: flex;
    position: absolute;
    z-index: 1;
    left: 28vw;
    top: 17vh;
    flex-wrap: wrap;
}

.link {
    width: 18.1vw;
    height: 18.1vw;
    opacity: 0;
    border-radius: 50%;
    margin: 0.25vw;
    float: left;
}

.link:hover {
    background-color: #8782F6;
    opacity: 0.8;
    mix-blend-mode: hue;
}

.projects {
    width: 57vw;
    display: flex;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.imagebox img {
    width: 18.1vw;
    height: 18.1vw;
    object-fit: cover;
    border-radius: 50%;
    margin: 0.25vw;
    float: left;
}

@media only screen and (max-width: 1000px) {

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }
    
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }

}

@media only screen and (max-width: 800px) {

    body {
        width: 100vw;
        overflow: auto;
    }

    header {
        width: 80vw;
        display: flex;
        margin: auto;
        height: auto;
    }

    h3 {
        font-size: 12px;
        width: 30%;
    }

    nav {
        width: 70%;
    }

    h4 {
        font-size: 10px;
    }

    .fullpage {
        display: inline;
        margin: auto;
    }

    .intro {
        width: 80%;
        margin: auto;
    }

    h1 {
        width: 100%;
        font-size: 40px;
    }

    p {
        font-size: 16px;
        width: 100%;
    }

    .projects {
        width: 70vw;
        margin: auto;
        height: 100%;
        display: inline;
        position: relative;
        left: 15vw;
    }

    .imagebox img {
        width: 70vw;
        height: 70vw;
        border-width: 0.5vw;
        margin: 1vw;
    }

    .linkoverlay {
        width: 70vw;
        margin: auto;
        top: 0;
        left: 0;
        display: inline;
    }

    .link {
        width: 70vw;
        height: 70vw;
        border-width: 0.5vw;
        margin: 1vw;
    }
}