* {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    margin: auto;
    padding-bottom: 4vw;
    overflow-x: hidden;
    background-color:rgb(255, 255, 246);
}

.full-page {
    position: relative;
    width: 100%;
}

.content {
    margin-bottom: 10vh;
    width: 100%;
}

/*Header, nav, and intro*/
    header {
        width: 100%;
        height: 5vw;
        position: relative;
        top: 0px;
        position: relative;
    }

    h2 {
        position: absolute;
        padding-left: 10vw;
        font-size: 1.7vw;
        color:black;
    }

    nav {
        padding-right: 7vw;
        position: absolute;
        right: 0px;
        top: 2.1vw;
    }

    a {
        float: right;
        margin-right: 4vw;
        font-size: 1vw;
    }

    a:link {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color:#8782F6;
        text-decoration: none;
    }

    a:visited:hover {
        color:#8782F6;
        text-decoration: none;
    }

    a:visited {
        color: black;
        text-decoration: none;
    }

    .intro {
        text-align: center;
        width: 30%;
        margin: auto;
        padding-bottom: 3%;
        padding-top: 2%;
    }

    h1 {
        color: black;
        font-size: 3vw;
        font-weight: 700;
        font-family: 'Syne', sans-serif;
        margin-bottom: -2%;
    }

    p {
        font-size: 1.1vw;
        color: #000000;
    }

/*Links*/
    .linkoverlay {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        padding-bottom: 10vh;
        position: absolute;
        z-index: 1;
        left: 10%;
    }

    .linkbox {
        width: 26vw;
        height: 26vw;
        float: left;
    }

    .link {
        width: 26vw;
        height: 26vw;
        margin: auto;
        opacity: 0;
    }

    .link:hover {
        background-color: white;
        opacity: .4;
        mix-blend-mode: multiply;
    }

/*Main body*/
    .projects {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        margin:auto;
        padding-bottom: 10vh;
    }

    .imagebox {
        width: 26vw;
        height: 26vw;
        float: left;
        margin: 2px;
    }

    .imagebox img {
        width: 26vw;
        height: 26vw;
        object-fit: cover;
    }

footer {
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: white;
    position: absolute;
    bottom: 0;
}
