* {
    font-family: 'Kanit', sans-serif;
}

body {
    width: 100%;
    margin: auto;
    padding-bottom: 4vw;
    overflow-x: hidden;
}

.full-page {
    position: relative;
}

.content {
    padding-bottom: 10vh;
    position: absolute;
    top: 0;
}

/*Header, nav, and intro*/
    header {
        width: 100%;
        background-color: #DCFBA8;
        height: 6vw;
        position: relative;
        top: 0px;
        position: relative;
        border-bottom: solid #231F77;
    }

    h2 {
        position: absolute;
        padding-left: 9vw;
        font-size: 2vw;
        color: #231F77;
        top: -0.3vw;
    }

    nav {
        padding-right: 5vw;
        position: absolute;
        right: 0px;
        top: 2.1vw;
    }

    a {
        float: right;
        margin-right: 4vw;
        font-size: 1.1vw;
    }

    a:link {
        color: #231F77;
        text-decoration: none;
    }

    a:hover {
        color: #4038dd;
        text-decoration: none;
    }

    a:visited {
        color: #231F77;
        text-decoration: none;
    }

    .intro {
        width: 50%;
        margin: auto;
        position: relative;
        left: 10%;
        float: left;
        padding-bottom: 2%;
    }

    h1 {
        color: #8782F6;
        font-size: 3vw;
        font-weight: 400;
        margin-bottom: -0.8vw;
    }

    p {
        font-size: 1.1vw;
        color: #231F77;
    }

/*Photo Grid*/
    .photogrid1 {
        display: grid;
        grid-template-columns: 2fr 1.34fr;
        width: 80%;
        position: relative;
        left: 10%;
        column-gap: 1%;
        padding-bottom: 1%;
    }

    .photogrid2 {
        display: grid;
        grid-template-columns: 1.34fr 2fr;
        width: 80%;
        position: relative;
        left: 10%;
        column-gap: 1%;
        padding-bottom: 1%;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-color: #231F77;
        border-width: 3px;
    }

    .textrow1 {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-right: 10%;
        width: 47%;
        float: right;
    }

    .textrow2 {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 10%;
        width: 50%;
        float: left;
    }

/*Bottom Nav*/
    .bottom-nav {
        width: 84%;
        position: relative;
        left: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .left-link {
        float: left;
    }

    .right-link {
        float: right;
    }

    footer {
        text-align: center;
        width: 100%;
        background-color: #231F77;
        color: white;
        position: absolute;
        bottom: 0;
    }