* {
    font-family: 'Kanit', sans-serif;
}

body {
    width: 100%;
    margin: auto;
    padding-bottom: 4vw;
    overflow-x: hidden;
}

.full-page {
    position: relative;
}

.content {
    padding-bottom: 10vh;
    position: absolute;
    top: 0;
}

/*Header, nav, and intro*/
    header {
        width: 100%;
        background-color: #000000;
        height: 5vw;
        position: relative;
        top: 0px;
        position: relative;
        color: #000000;
    }

    h2 {
        position: absolute;
        padding-left: 9vw;
        font-size: 1.7vw;
        color: #ffffff;
    }

    nav {
        padding-right: 5vw;
        position: absolute;
        right: 0px;
        top: 2.1vw;
    }

    a {
        float: right;
        margin-right: 4vw;
        font-size: 1vw;
    }

    a:link {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        color:#8782F6;
        text-decoration: none;
    }

    a:visited:hover {
        color:#8782F6;
        text-decoration: none;
    }

    a:visited {
        color: white;
        text-decoration: none;
    }
    
    .intro {
        width: 50%;
        margin: auto;
        position: relative;
        left: 10%;
        float: left;
        padding-bottom: 2%;
    }

    h6 {
        font-size: 1.5vw;
        line-height: 0%;
        color: black;
        font-weight: 400;
        margin-bottom: 7%;
    }

    h1 {
        color: #8782F6;
        font-size: 3vw;
        font-weight: 400;
        margin-bottom: -5%;
        font-weight: 500;
    }

    p {
        font-size: 1.1vw;
        color: #000000;
        line-height: 1.6;
    }

/*Photo Grid*/
    .photogrid1 {
        display: grid;
        grid-template-columns: 2fr 1.34fr;
        width: 80%;
        position: relative;
        left: 10%;
        column-gap: 1%;
        padding-bottom: 1%;
    }

    .photogrid2 {
        display: grid;
        grid-template-columns: 1.34fr 2fr;
        width: 80%;
        position: relative;
        left: 10%;
        column-gap: 1%;
        padding-bottom: 1%;
    }

    .photogrid3 {
        display: grid;
        width: 80%;
        position: relative;
        left: 10%;
        column-gap: 1%;
        padding-bottom: 1%;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-color: #000000;
        border-width: 3px;
    }

    .textrow1 {
        padding-top: 1%;
        padding-bottom: 3%;
        padding-right: 10%;
        width: 47%;
        float: right;
    }

    h5 {
        font-size: 1.5vw;
        line-height: 0%;
        color:#8782F6;
        font-weight: 400;
    }

    .textrow2 {
        padding-top: 1%;
        padding-bottom: 3%;
        padding-left: 10%;
        width: 50%;
        float: left;
    }

/*Bottom Nav*/
    .bottom-nav {
        width: 84%;
        position: relative;
        left: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .bottom-nav a:link {
        color: black;
        text-decoration: none;
    }

    .bottom-nav a:hover {
        color:#8782F6;
        text-decoration: none;
    }

    .bottom-nav a:visited {
        color: black;
        text-decoration: none;
    }

    .bottom-nav a:visited:hover {
        color:#8782F6;
        text-decoration: none;
    }

    .left-link {
        float: left;
    }

    .right-link {
        float: right;
    }

    footer {
        text-align: center;
        width: 100%;
        background-color: #000000;
        color: white;
        position: absolute;
        bottom: 0;
    }