* {
    font-family: 'Inter', sans-serif;
}

body {
    position: relative;
    width: 100%;
}

/**Main Nav**/
header {
    width: 85vw;
    display: flex;
    height: 17vh;
    margin: auto;
    position: relative;
    z-index: 1;
}

h3 {
    width: 70%;
    font-size: 24px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

nav {
    width: 30%;
    display: flex;
}

h4 {
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #8782F6;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:visited:hover {
    color:#8782F6;
    text-decoration: none;
}

/** Image sizing rules:
Content: 100vw, flex: column
Row: 100vw/100vh, flex: row, border: bottom, 3px, black
Image 1: 50vw, float left
Text 1: 50vw, float left
Image 2: calc((100vw/3)*2), float left
Text 2: calc(100vw/3), float left
Image 3: width: calc(100vw/3), height: calc((100vh/3)*2), float left
Text 3: width: calc(100vw/3), height: calc(100vh/3)
**/

.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.content-row {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.image1 img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

.image1 video {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

.text1 {
    width: 50vw;
    height: 100vh;
}

.image2 img {
    width: calc((100vw/3)*2);
    height: 100vh;
    object-fit: cover;
}

.text2 {
    width: calc(100vw/3);
    height: 100vh;
}

.image3 img {
    width: calc(100vw/3);
    height: calc((100vh/3)*2);
    object-fit: cover;
}

.text3 {
    width: calc(100vw/3);
    height: calc(100vh/3);
    float: left;
}